{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}


{% block content %}

<div class="container">
  <h3 class="text-success">
    {{ mymember.lastname }}{{ mymember.firstname }} 
  </h3>
  
  <ul>
    <li><strong>User ID: </strong>{{ mymember.user }}</li>
    <li><strong>Phone: </strong>{{ mymember.phone }}</li>
    <li><strong>Member since: </strong>{{ mymember.joined_date }}</li>
    <li><strong>Age: </strong>{{ mymember.age }}</li>  
  </ul>
  
</div>  

<div class="container m-5">
  <p>Back to: <a href='/members'>Members</a></p>
</div>
  
{% endblock %}