{% extends "master.html" %}

{% block title %}
  My Tennis Club
{% endblock %}


{% block content %}
  <h1>My Tennis Club</h1>

  <h3>Members</h3>
  
  <p>Check out all our <a href="/members/">members</a></p>

  <h3>Courts</h3>
  
  <p>Check out all our <a href="/courts/">courts</a></p>

  <h3>My bookings</h3>
  
  <p>Check out all our <a href="/courts/bookings/">my bookings</a></p>


  <hr>
  
  {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout </a> (Your have login as {{ user }}) 
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}

  
{% endblock %}