{% extends "master.html" %}

{% block title %}
  My Tennis Club
{% endblock %}


{% block content %}
  <h1>My Tennis Club</h1>

  <h3>Members</h3>
  
  <p>Check out all our <a href="/members/">members</a></p>

  <h3>Courts</h3>
  
  <ul>
    {% for court in courts %}
      <li>
        <strong>{{ court.courtname }}</strong> ({{ court.get_courttype_display }}), {{ court.city }}
        | <a href="{% url 'court_details' court.id %}">詳細資料</a>
        | <a href="{% url 'booking' court.id %}">直接預約</a>
      </li>
    {% empty %}
      <li>目前無任何球場資訊。</li>
    {% endfor %}
  </ul>

  <h3>My bookings</h3>
  
  <p>Check out all our <a href="/courts/bookings/">my bookings</a></p>


  <hr>
  
  {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout </a> (Your have login as {{ user }}) 
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}

  
{% endblock %}