<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

{% load static %}
<link rel="stylesheet" href="{% static '/css/club.css' %}"> 

<body>

  <div class="p-5 bg-primary text-white rounded">
    <h1>Hsueh Tennis Club</h1>
    <p>Tennis is not merely a sport; it is an artistry of motion and a testament to the indomitable human spirit. With each graceful stroke across the vibrant court, players embark on a journey of self-discovery and resilience. Beyond the score, tennis is a narrative of determination, a dance of skill, and a celebration of camaraderie. The court becomes a canvas where challenges are met with unwavering resolve, and every match is a canvas for personal triumph. In the world of tennis, we find not just a game but a passionate pursuit, a commitment to surpassing limits, and a profound connection to the essence of life.</p>
  </div>  

  <div class="container-fluid mt-3">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">ADMIN</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout ({{ user }}) </a>
        </li>    
      {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>    
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/courts/bookings/">My bookings</a>
      </li>
    </ul>
  </div>

{% block content %}
{% endblock %}

<footer class="bg-secondary text-light text-center py-3 mt-1">
  <div class="container">
      <p>&copy; 2023 Hsueh Tennis Website Name. All rights reserved.</p>
  </div>
</footer>

</body>
</html>