{% extends "master.html" %}

{% block title %}
My Tennis Club
{% endblock %}

{% block content %}

{% comment %} login fail, show msg {% endcomment %}
{% if err_login_msg %}
    <div class="alert alert-danger">
    <strong>Error:</strong>
    {{ err_login_msg }}
    </div>
{% endif %}    

<div class="container mt-2">
    <div class='row col-md-4'>
        <h2 class='text-success'>Login</h2>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <form action="." method="post">
                {% csrf_token %}
                <div class='mb-3 mt-3'>
                    <label for="username" class='form-label'>Username: </label>
                    {{ login_form.username }}
                </div>    

                <div class='mb-3 mt-3'>
                    <label for="password" class= 'form-label'>Password: </label>
                    {{ login_form.password }}
                </div>    

                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>                    
            </form>
        </div>            
    {% endif %}
</div>

{% endblock %}