{% extends "master.html" %}

{% block title %}
  My Tennis Club - List of all members
{% endblock %}


{% block content %}

<div class="container">
  <h3 class="text-success">Courts</h3>
  
  <table class="table table-striped table-bordered">
    <tr>
      <th> ID </th><th> 球場 </th><th> 所在城市 </th><th> 型態 </th><th> 照片 </th>
    </tr>
    {% for c in courts %}
        <tr>
          <td width="5%"> {{ c.id }} </td>
          <td width="20%"><a href= {% url 'court_details' c.id %}>{{ c.courtname }}</a></td>
          <td width="20%"> {{ c.city }} </td>
          <td width="20%"> {{ c.courttype }} {{ c.get_courttype_display }} </td>
          <td width="20%"> <img src={{ c.photo.url }} width="100px"></td>
        </tr>
    {% endfor %}
  </table>

</div>  

{% endblock %}